@addTagHelper "OnlineCourses.TagHelpers.CoursePreviewTagHelper, OnlineCourses"
@model OnlineCourses.Models.HomeViewModels.CourseViewModel
@{
    ViewData["Title"] = "Courses";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div id="searchDiv">
    <div class="container-fluid">
	
        <div class="col-md-8 col-md-offset-2" >
            <form asp-controller="Home" asp-action="Course" asp-route-searchStr="@Model.SearchString" class="form-inline">
                <div class="form-group col-md-8">
                    <!--					<label for="searchInput"></label>-->
                    <input asp-for="SearchString" type="text" class="form-control" id="searchInput" placeholder="Введіть назву курсу">
                </div>
                <div class="col-md-4">
                    <button asp-controller="Home" asp-action="Course" type="submit" class="btn btn-default" id="buttSearch">Пошук</button>
                </div>
            </form>
        </div>
	
    </div>
</div>

<div class="container-fluid">
    @foreach (var course in Model)
    {
        <course-preview course="@course"></course-preview>
    }
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-controller="Home" asp-action="Course"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-searchStr="@(Model.SearchString)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-controller="Home" asp-action="Course"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-searchStr="@(Model.SearchString)"
       class="btn btn-default btn">
    Вперед
       <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}