
@using Nition.Data
@using Nition.Models
@using Nition.TagHelpers
@model  Nition.Models.CourseViewModels.CourseInfoViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    if (User.IsInRole(RolesData.Admin))
    {
        Layout = "_LayoutAdmin";
    }
    ViewData["ReturnUrl"] = $"~/Course/{Model.Course.ID}";
    ViewData["Title"] = Model.Course.Title;
}

<page-header content="@ViewData["Title"]"></page-header>

<!--*****************//////////COURSE///////////*********************-->
<div class="container-fluid course-container">
<div class="course-header-container">
    <!--*****************//////////courseIMG///////////*********************-->
    <div class="image-course-container crop">
        <img src="~/@Model.Course.ValidImageURL" class="img-course">
    </div>
    <div style="display:flex; flex-direction: column;">
        <!--*****************//////////course-name///////////*********************-->
        <h1 class="course-header">Заголовок</h1>

        <div class="head" id="About-course" style="display:flex;">
            <ul class="list-inline">
                <li>
                    <figure class="about-1">
                        <i class="fa fa-clock-o" aria-hidden="true" style="font-size:57px"></i>
                        <figcaption>@Model.Course.Estimate год</figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="about-1">
                        <i class="fa fa-file-video-o" aria-hidden="true" style="font-size:57px"></i>
                        <figcaption>@Model.Course.Lessons.Count</figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="about-1">
                        <i class="fa fa-users" aria-hidden="true" style="font-size:57px"></i>
                        <figcaption>@Model.Course.Subscriptions.Count</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="col-md-3 row head">
            <!--*****************//////////authot(img+name)///////////*********************-->
            <ul class="list-inline">
                <li>
                    <figure class="text-center" id="authorAboout">
                        <div class="image-avatar-container">
                            <img src="~/@Model.Course.Author.ValidImageURL" alt="author">
                        </div>
                        <figcaption>
                            <h4 style="margin-top:0;">@Model.Course.Author.FullName</h4>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr class="hr-min">
<!--*****************//////////min-description///////////*********************-->
<div class="col-md-12">
    <span id=description-min>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ducimus, perspiciatis qui nulla recusandae. Rerum, soluta suscipit natus quibusdam, cum quae. Pariatur est, repellat architecto suscipit rerum obcaecati distinctio amet.
        <hr class="hr-min">
    </span>
</div>
<div class="container-fluid row">

    <!--*****************//////////ours+numberVideo+numberPeopleBay///////////*********************-->

    <!--*****************//////////price///////////*********************-->
    <div class="col-md-5 head">
        <h4><strong>Цей курс уже куплено, ви можете переглядати уроки.</strong></h4>
    </div>
    <!--*****************//////////buttonBay///////////*********************-->
</div>

<!--*****************//////////allDescription///////////*********************-->
<div class="col-md-12" id="all-about-course">
    <hr>
    <span>
        Historically, cryptography was used to ensure private communication between two people with some prior relationship. More recently, its scope has expanded to include things as diverse as data integrity, secure internet-wide communication, electronic cash, secure distributed computation, and more. Cryptography has also become ubiquitous. Perhaps unknowingly, we have all encountered applications of cryptography in our daily lives—whether by logging in using a password, making a web purchase over a secure connection, or applying a software update that is digitally signed. web purchase over a secure connection, or applying a software update that is digitally signed.
    </span>
    <hr>
</div>
<div class="col-md-12 text-center">
    <h2><strong>Перелік уроків:</strong></h2>
    <hr>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Урок№</th>
        <th>Назва</th>
        <th>Короткий опис</th>
    </tr>
    </thead>
    <tbody id="tableLesson">
    <tr class="openLesson" data-href="#">
        <td class="numLessonTh">Урок№</td>
        <td class="nameLessonTh">Назва</td>
        <td class="shortDescTh">Короткий опис</td>
        <td class="editButt text-center"><i class="fa fa-pencil" aria-hidden="true"></i></td>
        <td class="delButt text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr class="openLesson" data-href="#">
        <td class="numLessonTh">Урок№</td>
        <td class="nameLessonTh">Назва</td>
        <td class="shortDescTh">Короткий опис</td>
        <td class="editButt text-center"><i class="fa fa-pencil" aria-hidden="true"></i></td>
        <td class="delButt text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr class="openLesson" data-href="#">
        <td class="numLessonTh">Урок№</td>
        <td class="nameLessonTh">Назва</td>
        <td class="shortDescTh">Короткий опис</td>
        <td class="editButt text-center"><i class="fa fa-pencil" aria-hidden="true"></i></td>
        <td class="delButt text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    </tbody>
</table>

<!--*****************//////////addCourse///////////*********************-->

<div class="col-md-6 col-md-offset-3 " id="addLessonForm">
    <form class="form-horizontal" action="">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <hr>
                <h4>Назва уроку</h4>
                <textarea class="form-control" id="nameLesson" name="nameLesson" placeholder=""></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <hr>
                <h4>Опис уроку</h4>
                <textarea class="form-control" id="descLesson" name="descLesson" placeholder=""></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-block btn-lg" id="confirmAddLesson">Додати урок</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-default btn-block btn-lg" id="clearAddLesson">Очистити</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-sm-offset-1 col-sm-10">
        <div class="col-md-12 text-center" id="emptyInput">
            Зоповніть усі поля
        </div>
    </div>
</div>

<div class="col-md-6 col-md-offset-3">
    <span>
        <button type="button" class="btn btn-primary btn-block SeeMore" id="showCourseButt" value="addLesson">Додати урок</button>	
    </span>
</div>


<!--*****************//////////comments///////////*********************-->
<div id="divContainerCommentBackColor">
    <div class="container-fluid col-md-10 col-md-offset-1" id="divContainerComment">
        <hr>
        <div id="titleComment">
            <h2>Коментарі</h2>
        </div>
        <!--*****************//////////commentFormadd///////////*********************-->
        <div class="col-md-10 col-md-offset-1">
            <form>
                <div class="form-group">
                    <label for="comment">Залиште свій коментар:</label>
                    <textarea class="form-control" rows="5" id="commentTextArea"></textarea>
                    <button style="margin-top:1vmin;" type="submit" class="btn btn-primary pull-right">Підтвердити</button>
                </div>
            </form>
        </div>
        <div class="col-md-12 commentDiv row">
            <hr class="commentHr">
        </div>


        <!--*****************//////////commentInfo///////////*********************-->
        <div class="col-md-12 commentDiv row">
            <div class="row commentHead">
                <div class="commentHeadEl"><img src="img/polybreno_1500.jpg" style="height:3em; width:auto;" alt="" class="img-responsive img-circle"></div>
                <div class="commentHeadEl commentHeadElName">Name</div>
                <div class="commentHeadEl commentHeadElTime">19:00</div>
            </div>
            <hr class="commentHrCenter">
            <!--*****************//////////commentText///////////*********************-->
            <div class="row">
                <p class="comment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquam praesentium unde, quia magnam ipsa atque incidunt, doloremque esse optio magni expedita ipsum, deleniti inventore, rem omnis tenetur ad est.
                </p>
            </div>
            <hr class="commentHr">
        </div>

        <!--*****************//////////otherComment///////////*********************-->
        <div class="col-md-12 commentDiv row">
            <div class="row commentHead">
                <div class="commentHeadEl"><img src="img/polybreno_1500.jpg" style="height:3em; width:auto;" alt="" class="img-responsive img-circle"></div>
                <div class="commentHeadEl commentHeadElName">Name</div>
                <div class="commentHeadEl commentHeadElTime">19:00</div>
            </div>
            <hr class="commentHrCenter">
            <div class="row">
                <p class="comment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquam praesentium unde, quia magnam ipsa atque incidunt, doloremque esse optio magni expedita ipsum, deleniti inventore, rem omnis tenetur ad est.
                </p>
            </div>
            <hr class="commentHr">
        </div>

        <div class="col-md-12 commentDiv row">
            <div class="row commentHead">
                <div class="commentHeadEl"><img src="img/polybreno_1500.jpg" style="height:3em; width:auto;" alt="" class="img-responsive img-circle"></div>
                <div class="commentHeadEl commentHeadElName">Name</div>
                <div class="commentHeadEl commentHeadElTime">19:00</div>
            </div>
            <hr class="commentHrCenter">
            <div class="row">
                <p class="comment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquam praesentium unde, quia magnam ipsa atque incidunt, doloremque esse optio magni expedita ipsum, deleniti inventore, rem omnis tenetur ad est.
                </p>
            </div>
            <hr class="commentHr">
        </div>
        <!--*****************//////////otherCommentEnd///////////*********************-->
    </div>
    <!--*****************//////////endComments///////////*********************-->
</div>

</div>

<!--*****************//////////endCOURSE///////////*********************-->