@using Nition.Data
@using Nition.Models
@using Nition.TagHelpers
@model  Nition.Models.CourseViewModels.CourseInfoViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    if (User.IsInRole(RolesData.Admin))
    {
        Layout = "_LayoutAdmin";
    }
    ViewData["ReturnUrl"] = $"~/Course/{Model.Course.ID}";
    ViewData["Title"] = Model.Course.Title;
}
<page-header>@ViewData["Title"]</page-header>

<!--*****************//////////COURSE///////////*********************-->
<div class="course">
    <div class="course-container">
    
        <div class="course-header-container">
            <!--*****************//////////courseIMG///////////*********************-->
            <div class="image-course-container">
                <img src="~/@Model.Course.ValidImageURL" class="img-course">
            </div>
            <div style="display:flex; flex-direction: column; margin-left: 10px;">
                <!--*****************//////////course-name///////////*********************-->
                <h1 class="course-header">Заголовок</h1>

                <div class="head" id="About-course" style="display:flex;">
                    <ul class="list-inline">
                        <li>
                            <figure class="about-1">
                                <i class="fa fa-clock-o" aria-hidden="true" style="font-size:57px"></i>
                                <figcaption>@Model.Course.Estimate год</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure class="about-1">
                                <i class="fa fa-file-video-o" aria-hidden="true" style="font-size:57px"></i>
                                <figcaption>@Model.Course.Lessons.Count</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure class="about-1">
                                <i class="fa fa-users" aria-hidden="true" style="font-size:57px"></i>
                                <figcaption>@Model.Course.Subscriptions.Count</figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 row head">
                    <!--*****************//////////authot(img+name)///////////*********************-->
                    <ul class="list-inline">
                        <li>
                            <figure class="text-center" id="authorAboout">
                                <div class="image-avatar-container">
                                    <img src="~/@Model.Course.Author.ValidImageURL" alt="author">
                                </div>
                                <figcaption>
                                    <h4 style="margin-top:0;">@Model.Course.Author.FullName</h4>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
            <!--*****************//////////buttonBuy///////////*********************-->
            @if (!Model.Paid && User.IsInRole(RolesData.Student))
            {
                <form asp-controller="Course" asp-action="Payment" asp-route-courseID="@Model.Course.ID">
                    <span>
                        <button type="submit" class="btn btn-primary btn-block shadow" id="buyButt">Купити цей курс</button>
                    </span>
                </form>
            }
        </div>
        <hr class="hr-min">
        <!--*****************//////////min-description///////////*********************-->
        <div class="col-md-12">
            <span id=description-min>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ducimus, perspiciatis qui nulla recusandae. Rerum, soluta suscipit natus quibusdam, cum quae. Pariatur est, repellat architecto suscipit rerum obcaecati distinctio amet.
                <hr class="hr-min">
            </span>
        </div>
        <div class="container-fluid row">

            <!--*****************//////////ours+numberVideo+numberPeopleBay///////////*********************-->
            <!--*****************//////////price///////////*********************-->
            <div class="head">
                <h4><strong>Цей курс уже куплено, ви можете переглядати уроки.</strong></h4>
            </div>
        </div>

        <!--*****************//////////allDescription///////////*********************-->
        <div id="all-about-course">
            @Model.Course.Description
        </div>
        
        <div class="comment-container">
            <div id="titleComment">
                <h2>Коментарі</h2>
            </div>
            @await Component.InvokeAsync("CommentList", Model.Course.ID);
        </div>
    </div>
    <div class="lesson-container">
        <div class="text-center">
            <h2><strong>Уроки</strong></h2>
        </div>
        <br/>
        @await Component.InvokeAsync("LessonList",new{courseID=Model.Course.ID,isPaid=Model.Paid});
    </div>
</div>
