@addTagHelper "Nition.TagHelpers.*, Nition"
@using Nition.Models.ManageViewModels
@using Nition.TagHelpers
@model UserAccountCourseListViewModel


    @foreach (var course in Model.Courses)
    {
        <course-preview course="@course"></course-preview>
    }

<div class="container col-md-12 col-lg-8 col-lg-offset-2z">
@if (Model.PageViewModel.HasPreviousPage)
{
    <div id="previousPageButton"
       userID="@Model.UserID"
       page="@(Model.PageViewModel.PageNumber-1)"
         class="btn btn-default btn pull-left"
         ajax-type="@AjaxTagHelper.MethodType.get" ajax-route="/ViewComponent/UserCoursesList" 
         ajax-params="@(new {userID=Model.UserID,page= Model.PageViewModel.PageNumber - 1 })"
         ajax-output="#userCourseList">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </div>
}
@if (Model.PageViewModel.HasNextPage)
{
    <div id="nextPageButton"
       userID="@Model.UserID"
       page="@(Model.PageViewModel.PageNumber+1)"
       class="btn btn-default btn pull-right"
         ajax-type="@AjaxTagHelper.MethodType.get" ajax-route="/ViewComponent/UserCoursesList" 
         ajax-params="@(new {userID=Model.UserID,page= Model.PageViewModel.PageNumber + 1 })"
    ajax-output="#userCourseList"
       >
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </div>
}
</div >
<script type="text/javascript" src="~/vendors/jquery.min.js"></script>
<script>
    
    $('#previousPageButton').click(function (event) {

        var container = $("#userCourseList");
        var refreshComponent = function () {
            $.get("/ViewComponent/UserCoursesList?userID=" + "@Model.UserID" + "&page=" +"@(Model.PageViewModel.PageNumber-1)", function (data) { container.html(data); });
        };
        refreshComponent();
        event.preventDefault();
    });
</script>