@addTagHelper "OnlineCourses.TagHelpers.CoursePreviewTagHelper, OnlineCourses"
@model ApplicationUser
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Лектор";
}

<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@Model.UserName</h1>
        <p class="text-success">@ViewData["StatusMessage"]</p>
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<style>
    .nav-tabs li a {
        color: #777;
    }
</style>
<div class="container-fluid">
    <div class="row col-md-10 col-md-offset-1" id="imgUser" style="margin-bottom:2vmin;">
        <div class="col-sm-1 animated slideInLeft" style=" margin-left: 30;">
            <img class="img-responsive img-circle" width="auto" height="100" src="~/@Model.ValidImageURL" alt="..." />
        </div>
        <div class="col-sm-4 animated slideInLeft">
            <h1>@Model.FullName</h1>
        </div>
        @if (Model.Id == UserManager.GetUserId(User))
        {
            <div class="col-sm-4 animated slideInLeft edit-butt-account-div">
                <form asp-controller="Manage" asp-action="EditAccountInfo" asp-route-id="@Model.Id" method="get">
                    <button type="submit" class="btn btn-default btn-lg edit-butt-account text-center">Редагувати профіль</button>
                </form>
            </div>
        }
    </div>

    <div class="col-md-10 col-md-offset-1">

        <ul class="nav nav-tabs">

            <li class="active"><a data-toggle="tab" href="#home">Опис користувача</a></li>
            <li><a data-toggle="tab" href="#menu1">Особисті дані та контакти</a></li>
            <li><a data-toggle="tab" href="#menu2">Створені курси</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <p>@Model.AboutMe</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <hr>
                <strong>Email:</strong> @Model.Email
                <hr>
                <strong>Facebook:</strong> @Model.Facebook
                <hr>
                <strong>Twitter:</strong> @Model.Twitter
                <hr>
                <strong>Linkedin:</strong> @Model.Linkedin
                <hr>
                <strong>Skype:</strong> @Model.Skype
                <hr>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div id="userCourseList">
                    @await Component.InvokeAsync("UserCoursesList", new { userID = Model.Id, page = 1 })
                </div>
            </div>
        </div>
    </div>
</div>

