@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineCourses</title>
    
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/registration.css">
    <link rel="stylesheet" href="~/css/allcoursesearch.css">
    <link rel="stylesheet" href="~/css/Footer-with-social-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/vendors/aos.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top normal" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img class="img-responsive" src="~/img/9gag1600.png" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-left">
                <li><a asp-controller="Home" asp-action="Index">Головна</a>
                </li>
                <li><a asp-controller="Home" asp-action="Course">Курси</a>
                </li>
                @if ( User.Identity.IsAuthenticated ){
                    if ( User.IsInRole("Lecturer") ){
                        <li><a asp-controller="Home" asp-action="About">Про нас</a>
                        </li>     
                    }
                }
                <li><a asp-controller="Home" asp-action="Contact">Контакти</a>
                </li>
            </ul>   
            <ul class="nav navbar-nav navbar-right">
                @await Html.PartialAsync("_LoginPartial")
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div id="nav-social-icon" class="col-md-12" nopadding>
                    <!--
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-google" aria-hidden="true"></i>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    -->
                </div>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.contatiner -->
</nav>
<div>
    @RenderBody()
    <hr/>
</div>
    
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 myCols">
                <h5>Для початку</h5>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Домашня сторінка</a></li>
                    <li><a asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Увійти</a></li>
                    <li><a asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Зареєструватись</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Про нас</h5>
                <ul>
                    <li><a href="#">Додаткова інформація</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Зв'язок</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Допомога</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Курси</h5>
                <ul>
                    <li><a href="#">Усі курси</a></li>
                    <li><a href="#">Популярні курси</a></li>
                    <li><a href="#">Останні курси</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-networks">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="footer-copyright">
        <p>© 2017 </p>
    </div>
</footer>

<!-- Modal -->
@await Html.PartialAsync("_LoginModalPartial", new LoginViewModel())
@RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript" src="~/vendors/jquery.min.js"></script>
<script type="text/javascript" src="~/vendors/js/bootstrap.min.js"></script>
<script type="text/jscript" src="~/vendors/aos.js"></script>
<script type="text/javascript" src="~/js/common.js"></script>