@addTagHelper "OnlineCourses.TagHelpers.CoursePreviewTagHelper, OnlineCourses"
@using OnlineCourses.Models.AdminViewModels
@model CourseListViewModel
@{
    ViewData["Title"] = "Список курсів";
}

<!--*****************//////////MIDDLE///////////*********************-->
<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->

<div id="searchDiv">
    <div class="container-fluid">
	
        <div class="col-md-10 col-md-offset-1" >
            <form asp-controller="Admin" asp-action="CourseList" method="get" class="form-inline">
                <div class="form-group col-md-5 col-sm-12">
                    <input name="search" type="text" class="form-control" id="searchInput" placeholder="Пошук" value="@Model.SearchString">
                </div>
                @*<div class="col-md-2 col-sm-6">
                    <select name="theme" asp-for="ThemeID" asp-items="@ViewBag.Themes" class="form-control" id="selRole">
                        <option value="0">Оберіть тему</option>
                    </select>
                </div>*@
                <div class="col-md-2 col-sm-6">
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-block" data-color="info">Глобальний пошук</button>
                        <input style="width:100%;" name="global" type="checkbox" @(Model.isGlobal?"checked":"") value="true" @Model. class="hidden"/>
                    </span>
                </div>
                <div class="col-md-3 col-sm-12">
                    <button  type="submit" class="btn btn-default btn-block" id="buttSearch">Пошук</button>
                </div>
            </form>
        </div>
	
    </div>
</div>

<div class="container-fluid">
    @foreach (var course in Model)
    {
        <course-preview course="@course"></course-preview>
    }
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-controller="Admin" asp-action="CourseList"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-search="@(Model.SearchString)"
       asp-route-global="@Model.isGlobal"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-controller="Admin" asp-action="CourseList"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-search="@(Model.SearchString)"
       asp-route-global="@Model.isGlobal"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}