@using OnlineCourses.Models.AdminViewModels
@inject UserManager<ApplicationUser> UserManager
@model UserListViewModel
@{
    ViewData["Title"] = "Користувачі";
}

<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div id="searchDiv">
    <div class="container-fluid">
	
        <div class="col-md-10 col-md-offset-1" >
            <form asp-controller="Admin" asp-action="UserList" method="get" class="form-inline">
                <div class="form-group col-md-5 col-sm-12">
                    <input name="search" type="text" class="form-control" id="searchInput" placeholder="Введіть логін користувача" value="@Model.SearchString">
                </div>
                <div class="col-md-2 col-sm-6">
                    <select name="role"  asp-items="@ViewBag.Roles" class="form-control" id="selRole">
                        <option value="">Оберіть роль</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-12">
                    <button  type="submit" class="btn btn-default btn-block" id="buttSearch">Пошук</button>
                </div>
            </form>
        </div>
	
    </div>
</div>

<div class="container-fluid">
        @foreach (var user in Model)
        {
            <a asp-controller="Manage" asp-action="Profile" asp-route-id="@user.Id">
                <div class="container col-md-12 col-lg-8 col-lg-offset-2">
                    <!--*****************//////////author(userList)///////////*********************-->
                    
                    <div class="user-list">
                        <figure>
                            <img src="~/@user.ValidImageURL" class="img-responsive img-circle" alt="author" id="authorImgHead">
                            <figcaption>@user.FullName</figcaption>
                        </figure>
                        <span >Роль:@(UserManager.GetRolesAsync(user).Result[0])</span>
                        <form method="post">
                            @if (!await UserManager.IsLockedOutAsync(user))
                            {
                                <button class="btn btn-danger lock-unlockButt" type="submit" asp-action="LockUser" asp-route-ID="@user.Id" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                                    <span class="glyphicon glyphicon-lock"></span> Заблокувати
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-warning lock-unlockButt" type="submit" asp-action="UnlockUser" asp-route-ID="@user.Id" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                                    <span class="fa fa-unlock-alt"></span> Розблокувати
                                </button>
                            }
                        </form>
                    </div>

                </div>
            </a>
        }
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-controller="Admin" asp-action="UserList"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-search="@(Model.SearchString)"
       asp-route-role="@(Model.Role)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-controller="Admin" asp-action="UserList"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-search="@(Model.SearchString)"
       asp-route-role="@(Model.Role)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}