@using Nition.Models
@using Nition.Models.LecturerViewModels
@model LessonViewModel
@(ViewData["Titile"]=Model.Lesson.Title)

<page-header content="@ViewData["Title"]"></page-header>
	<!--*****************//////////COURSE///////////*********************-->
	<!--*****************//////////COURSE///////////*********************-->
    <style>
        #ModalEdit {
            position: fixed;
            top: auto;
            right: 0%;
            left: 0%;
            bottom: 0;
            transition: 2s;
        }
    </style>
	    <div class="container-fluid">
		
		<!--*****************//////////addCourse///////////*********************-->
	       
	        <div class="col-md-10 col-md-offset-1 text-center" id="nameCourse-addLesson">
                <button type="submit" class="btn btn-warning pull-right" id="editButt" id="right-panel-link" href="#right-panel" data-toggle="modal" data-target="#ModalEditTitle"><i class="fa fa-pencil" aria-hidden="true"></i></button>

	            <h1 class="text-center">@Model.Lesson.Title</h1>
                <hr class="under-hr text-center">

	            <!--Modal!!!!!!-->
	            <div class="modal fade" id="ModalEditTitle" role="dialog">
	                <div class="modal-dialog">
	                    <!-- Modal content-->
	                    <div class="modal-content">
	                        <div class="modal-body">
	                            <div class="container">
	                                <div class="row">
	                                    <div class="col-xs-12 col-sm-8 col-md-6">
	                                        <form role="form" asp-controller="Lecturer" asp-action="EditTitle" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
	                                            <fieldset>
	                                                <div class="form-group">
	                                                    <label for="comment">Введіть новий текст:</label>
	                                                    <input type="hidden" name="lessonId" value="@(Model.Lesson.ID)"/>
	                                                    <textarea name="title" class="form-control" rows="3" id="commentTextArea">@(Model.Lesson.Title)</textarea>
	                                                    <button style="margin-top: 1vmin; margin-bottom: 1vmin;" type="submit" class="btn btn-warning pull-right btn-block">Зберегти зміни</button>
	                                                    <button style="margin-top: 1vmin; margin-bottom: 1vmin;" type="submit" class="btn btn-danger pull-right btn-block" data-dismiss="modal">Відмінити</button>
	                                                </div>
	                                            </fieldset>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--EndModal!!!!!!-->
	        </div>
	            <div class="col-md-10 col-md-offset-1" id="nameCourse-addLesson">
	                <button type="submit" class="btn btn-warning pull-right" id="editButt" id="right-panel-link" href="#right-panel" data-toggle="modal" data-target="#ModalEditDescription"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <div class="container-fluid">
                        <p style="font-size:1.2em; overflow:hidden; text-overflow: ellipsis;" >@Model.Lesson.Description</p>
                        <hr class="text-hr">                 
                    </div>
                   
	                <!--Modal!!!!!!-->
	                <div class="modal fade" id="ModalEditDescription" role="dialog">
	                    <div class="modal-dialog">
	                        <!-- Modal content-->
	                        <div class="modal-content">
	                            <div class="modal-body">
	                                <div class="container">
	                                    <div class="row">
	                                        <div class="col-xs-12 col-sm-8 col-md-6">
	                                            <form role="form" asp-controller="Lecturer" asp-action="EditDescription" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
	                                                <fieldset>
	                                                    <div class="form-group">
	                                                        <label for="comment">Введіть новий текст:</label>
	                                                        <input type="hidden" name="lessonId" value="@(Model.Lesson.ID)"/>
	                                                        <textarea name="description" class="form-control" rows="3" id="commentTextArea">@(Model.Lesson.Description)</textarea>
	                                                        <button style="margin-top: 1vmin; margin-bottom: 1vmin;" type="submit" class="btn btn-warning pull-right btn-block">Зберегти зміни</button>
	                                                        <button style="margin-top: 1vmin; margin-bottom: 1vmin;" type="submit" class="btn btn-danger pull-right btn-block" data-dismiss="modal">Відмінити</button>
	                                                    </div>
	                                                </fieldset>
	                                            </form>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!--EndModal!!!!!!-->
	            </div>
            
	        @foreach (var infoBlock in Model.InfoBlocks)
	        {
	            <div class="col-md-10 col-md-offset-1" id="nameCourse-addLesson">
	                @if (infoBlock is TextBlock)
	                {  
	                    <button type="submit" class="btn btn-warning pull-right" id="editButt" id="right-panel-link" href="#right-panel" data-toggle="modal" data-target="#ModalEdit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
	                    
                        <form asp-controller="Lecturer" asp-action="DeleteTextBlock" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <input type="hidden" name="textBlockID" value="@(infoBlock.ID)" />
	                        <button type="submit" class="btn btn-danger pull-right" id="right-panel-link" href="#right-panel"><i class="fa fa-times" aria-hidden="true"></i></button>
	                    </form>
	                    <p style="font-size:1.3em;" class="text-justify">@((infoBlock as TextBlock).Text)</p><hr class="no-margin no-padding"/>

	                    <!--Modal!!!!!!-->
	                    <div class="modal fade" id="ModalEdit" role="dialog">
	                        <div class="modal-dialog">
	                            <!-- Modal content-->
	                            <div class="modal-content">
	                                <div class="modal-body">
	                                    <div class="container">
	                                        <div class="row">
	                                            <div class="col-xs-12 col-sm-8 col-md-6">
	                                                <form role="form" asp-controller="Lecturer" asp-action="EditTextBlock" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
	                                                    <fieldset>
	                                                            <div class="form-group">
	                                                                <label for="comment">Введіть новий текст:</label>
	                                                                <input type="hidden" name="textBlockId" value="@(infoBlock.ID)"/>
	                                                                    <textarea name="text" class="form-control" rows="3" id="commentTextArea">@((infoBlock as TextBlock).Text)</textarea>
	                                                                    <button style="margin-top: 1vmin; margin-bottom: 1vmin;" type="submit" class="btn btn-warning pull-right btn-block">Зберегти зміни</button>
	                                                                <button style="margin-top: 1vmin; margin-bottom: 1vmin;" type="submit" class="btn btn-danger pull-right btn-block" data-dismiss="modal">Відмінити</button>
	                                                            </div>
	                                                    </fieldset>
	                                                </form>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <!--EndModal!!!!!!-->
	                }
	                else
	                {
	                    <form asp-controller="Lecturer" asp-action="DeleteVideoBlock" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
	                        <input type="hidden" name="videoBlockID" value="@(infoBlock.ID)" />
	                        <button type="submit" class="btn btn-danger pull-right" id="right-panel-link" href="#right-panel"><i class="fa fa-times" aria-hidden="true"></i></button>
	                    </form>
                        <div class="text-center">
                            <video class="" controls style="max-width: 33vmax; height: auto; margin: 0 auto;"><source src="~/@((infoBlock as VideoBlock).VideoURL)" type="video/mp4"><source src="~/(infoBlock as VideoBlock).VideoURL)" type="video/ogg"> Your browser does not support HTML5 video.</video>
                            <hr class="no-margin no-padding" />
                        </div>
                    }
	            </div>               
                
	            <div id="editBlock" class="col-md-10 col-md-offset-1"></div> 
	        }

	        <!--*****************//////////newCourse///////////*********************-->
		
		<div class="col-md-10 col-md-offset-1" id="newCourse"></div>
       
		<div class="col-md-6 col-md-offset-3 " id="createLessonForm">
		    <form class="form-horizontal" action="">
		        <hr>
		        <div class="form-group">
		            <div class="col-md-6">
		                <button type="button" class="btn-success btn-lg btn-block" id="addTextButt">Додати текст</button>
		            </div>
		            <div class="col-md-6">
		                <button type="button" class="btn-success btn-lg btn-block" id="addVideoButt">Додати відео</button>
		            </div>
		        </div>
		    </form>
		    <form class="form-horizontal" asp-controller="Course" asp-action="CourseInfo" asp-route-id="@Model.Lesson.Course.ID" method="get">
                <div class="form-group">
				    <div class="col-md-12">
				        <button type="submit" class="btn btn-primary btn-block btn-lg" id="confirmLesson">Готово</button>
				    </div>
				</div>
			</form>
		</div>

		<div class="col-md-6 col-md-offset-3 " id="addTextLessonForm">
			<form class="form-horizontal" asp-controller="Lecturer" asp-action="AddTextBlock" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
			    <input type="hidden" name="lessonId" value="@Model.Lesson.ID" />
                <div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<hr>
						<h4>Введіть текст</h4>
						<textarea class="form-control" id="addLessonText" name="text" placeholder=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<div class="col-md-6">
							<button type="submit" class="btn btn-success btn-block btn-lg" id="confirmAddLessonText">Додати текст</button>
						</div>
						<div class="col-md-6">
							<button type="button" class="btn btn-default btn-block btn-lg" id="cancleAddText">Відмінити</button>
						</div>
					</div>
				</div>
			</form>
		</div>



		<div class="col-md-6 col-md-offset-3 " id="addVideoLessonForm">
		    <form class="form-horizontal" asp-controller="Lecturer" asp-action="AddVideoBlock" asp-route-returnUrl="@ViewData["ReturnUrl"]" enctype="multipart/form-data" method="post">
		        <input type="hidden" name="lessonId" value="@Model.Lesson.ID" />
		        <div class="form-group">
		            <div class="col-sm-offset-1 col-sm-10">
	                        <div class="col-md-12">
	                            <hr>
	                            <span class="btn btn-info btn-file btn-block btn-lg">
	                                Знайти відео... . <input type="file" id="addFile" name="UploadedFile">
	                            </span>
	                        </div>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <div class="col-sm-offset-1 col-sm-10">
	                        <div class="col-md-6">
	                            <button type="submit" class="btn btn-success btn-block btn-lg" id="confirmAddLessonVideo">Додати відео</button>
	                        </div>
	                        <div class="col-md-6">
	                            <button type="button" class="btn btn-default btn-block btn-lg" id="cancleAddVideo">Відмінити</button>
	                        </div>
	                    </div>
	                </div>
	            </form>
	        </div>
	    </div>
    

    <div class="container-fluid text-center">
        <button class="btn btn-default pull-left">Повернутись до сторінки курсу</button>
    </div>